services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    ports:
      - '3000:3000'
    command: yarn dev

volumes:
  node_modules:
