/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$enable-negative-margins: true;

@import "bootstrap/scss/bootstrap";

.bi {
  vertical-align: -.125em;
}

.opacity-50 {
  opacity: 50%;
}

.user-select-none {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-link {
  @extend .p-0;
}

.form-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.dropdown-button {
  @extend .btn;
  @extend .border-0;
  @extend .h-100;
  @extend .text-secondary;

  &:hover, &:focus, &[aria-expanded="true"] {
    @extend .btn-dark;
    @extend .text-white;
  }
}

.burger-dropdown-button {
  @extend .dropdown-button;
  @extend .p-1;
}

.three-dots-dropup-button {
  @extend .dropdown-button;
  @extend .p-0;
  width: 2em;
}

.send-button {
  @extend .btn;
  @extend .text-primary;
  @extend .h-100;
  @extend .p-0;
}
