/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$enable-negative-margins: true;

@import "bootstrap/scss/bootstrap";

:root {
  --dice-primary: #404040;
  --dice-secondary: #ffffff;
  --dice-button-outline: #4040404;
}

.bi {
  vertical-align: -.125em;
}

.opacity-50 {
  opacity: 50%;
}

.user-select-none {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-link {
  @extend .p-0;
}

.form-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form-check-input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.btn-white {
  @extend .btn-light;

  background-color: white;
  border: 1px solid $gray-400 !important;

  &:hover, &:focus {
    background-color: $gray-200;
  }
}

.card-action:hover {
  @extend .bg-light;
}

@media (prefers-reduced-motion: no-preference) {
  .shimmer {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, $blue-200 20%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;

    animation: shimmer 1.5s linear forwards;

    .card {
      animation: flashBlue 1.5s linear;
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -100vw 0;
  }

  100% {
    background-position: 100vw 0;
  }
}

@keyframes flashBlue {
  30% {
    background: white;
  }

  50% {
    background: #f6faff;
  }

  70% {
    background-position: white;
  }
}

.dropdown-button {
  @extend .btn;
  @extend .border-0;
  @extend .h-100;
  @extend .text-secondary;

  &:hover, &:focus, &[aria-expanded="true"] {
    @extend .btn-dark;
    @extend .text-white;
  }
}

.burger-dropdown-button {
  @extend .dropdown-button;
  @extend .p-1;
}

.three-dots-dropup-button {
  @extend .dropdown-button;
  @extend .p-0;
  width: 2em;
}

.send-button {
  @extend .btn;
  @extend .text-primary;
  @extend .h-100;
  @extend .p-0;
}

.btn {
  .graphical-die-button {
    @include transition($btn-transition);

    display: flex;
    justify-content: center;
    color: white;

    svg {
      display: block;
    }

    .graphical-die-button-label {
      position: absolute;
      color: var(--dice-button-outline);
    }
  }

  &:hover, &:focus {
    .graphical-die-button {
      color: var(--dice-primary);

      .graphical-die-button-label {
        color: var(--dice-secondary);
      }
    }
  }
}

.fill-dice-primary {
  fill: var(--dice-primary);
}

.fill-dice-secondary {
  fill: var(--dice-secondary);
}

.fill-dice-button-outline {
  fill: var(--dice-button-outline);
}

.stroke-dice-primary {
  stroke: var(--dice-primary);
}

.stroke-dice-secondary {
  stroke: var(--dice-secondary);
}

.stroke-dice-button-outline {
  stroke: var(--dice-button-outline);
}
