@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #F8FAFC;
  --color-foreground: #FFFFFF;
  --color-foreground-dimmed-1: #F1F5F9;
  --color-foreground-dimmed-2: #E2E8F0;
  --color-primary: #2563EB;
  --color-primary-dimmed-1: #1D4ED8;
  --color-primary-dimmed-2: #1E40AF;
  --color-primary-accent: #EFF6FF;
  --color-primary-accent-dimmed-1: #DBEAFE;
  --color-primary-bg: #2563EB;
  --color-primary-bg-dimmed-1: #1D4ED8;
  --color-primary-bg-dimmed-2: #1E40AF;
  --color-overlay: #F1F5F9AA;
  --color-overlay-dimmed-1: #E2E8F0AA;
  --color-overlay-dimmed-2: #CBD5E1AA;
  --color-danger: #DC2626;
  --color-text: #1E293B;
  --color-text-muted: #334155;
  --color-border: #E2E8F0;
  --color-placeholder: #94A3B8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #020617;
    --color-foreground: #0F172A;
    --color-foreground-dimmed-1: #1E293B;
    --color-foreground-dimmed-2: #334155;
    --color-primary: #3B82F6;
    --color-primary-dimmed-1: #2563EB;
    --color-primary-dimmed-2: #1D4ED8;
    --color-primary-accent: #1E3A8A60;
    --color-primary-accent-dimmed-1: #1E3A8A40;
    --color-overlay: #1E293BCC;
    --color-overlay-dimmed-1: #0F172ACC;
    --color-overlay-dimmed-2: #020617CC;
    --color-danger: #EF4444;
    --color-text: #E2E8F0;
    --color-text-muted: #CBD5E1;
    --color-border: #334155;
    --color-placeholder: #64748B;
  }
}

@layer base {
  * {
    @apply border-border placeholder-placeholder focus-ring-base;
  }

  *:not(.no-focus-ring):focus-visible {
    @apply focus-ring;
  }

  input[type="text"], input[type="number"] {
    @apply placeholder-placeholder appearance-none;
  }

  [data-radix-popper-content-wrapper] {
    z-index: 30 !important;
  }
}

@layer utilities {
  .focus-ring-base {
    @apply ring-2 ring-transparent;
  }

  .focus-ring {
    @apply outline-none ring-2 ring-primary border-transparent relative z-10;
  }

  .no-focus-ring, .lift-focus-ring {
    @apply outline-none;
  }

  .no-webkit-tap-highlight {
    -webkit-tap-highlight-color: transparent;
  }

  .bg-background * {
    @apply ring-offset-background;
  }

  .bg-foreground * {
    @apply ring-offset-foreground;
  }
}
