<%= javascript_pack_tag 'home_page' %>

<div class="min-vh-100 container py-3 d-flex justify-content-center align-items-center">
  <div>
    <% if notice.present? %>
      <div id="notice" class="alert alert-danger">
        <%= notice %>
      </div>
    <% end %>

    <h1>Dice roller</h1>
    <p class="lead">A single-purpose dice roller for online tabletop games.</p>

    <div id="join-game"></div>
  </div>
</div>
