name: On push

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - run: docker compose -f docker-compose.test.yml up -d --build
    - run: docker compose -f docker-compose.test.yml exec -T web yarn ci
    - run: docker compose -f docker-compose.test.yml down

  deploy:
    needs: test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: 12joan/build-and-push-image@main
